<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.san.kir.features.viewer.ViewerActivity"
            android:exported="true"
            android:theme="@style/Viewer" />
    </application>
</manifest>
