<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.san.kir.manger">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".components.Main.Main"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".components.Library.LibraryActivity"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator"/>
        <activity
            android:name=".components.Category.CategoryActivity"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator"/>
        <activity
            android:name=".components.Storage.StorageActivity"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator"/>
        <activity
            android:name=".components.SitesCatalog.SiteCatalogActivity"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator"/>
        <activity
            android:name=".components.DownloadManager.DownloadManagerActivity"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator"/>
        <activity
            android:name=".components.LatestChapters.LatestChapterActivity"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator"/>
        <activity
            android:name=".components.Viewer.ViewerActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            tools:ignore="InnerclassSeparator"/>
        <activity
            android:name=".components.ListChapters.ListChaptersActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            tools:ignore="InnerclassSeparator"/>
        <!-- android:theme="@style/AppTheme" -->

        <activity
            android:name=".components.CatalogForOneSite.CatalogForOneSiteActivity"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator"/>

        <activity
            android:name=".components.AddManga.AddMangaActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="InnerclassSeparator"/>
        <activity
            android:name=".components.Settings.SettingActivity"
            android:label="@string/main_menu_settings"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator">
        </activity>

        <service
            android:name=".components.CatalogForOneSite.CatalogForOneSiteUpdaterService"
            tools:ignore="InnerclassSeparator"
            />
        <service
            android:name=".components.DownloadManager.DownloadService"
            tools:ignore="InnerclassSeparator"
            />
    </application>

</manifest>
